.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-workflow1 {
  width: 0.6845703125em;
}

.icon-workflow3 {
  width: 1.2666015625em;
}

.icon-workflow4 {
  width: 0.7998046875em;
}

.icon-twitter {
  width: 1.111328125em;
}

.icon-topArrow {
  width: 2.400390625em;
}

.icon-firstViewHeart {
  width: 1.0615234375em;
}
